@import "tailwindcss";

@font-face {
  font-family: "Press Start 2P";
  src: url(./assets/fonts/PressStart2P-Regular.woff) format('woff'),
        url(./assets/fonts/PressStart2P-Regular.woff2) format('woff2');
}

body {
  background-color: #9F80AC;
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
}

#root {
  display: grid;
  align-items: center;
}

.sign {
  background: no-repeat
    center/600px
    url(./assets/atm_sign.png),
    #126CAE;
}

.card-indicator {
  background: no-repeat center url(./assets/creditcard_sprite.png);
  background-size: cover;
  background-position-y: -40px;
}

.active-card-indicator {
  background: no-repeat url(./assets/creditcard_sprite.png);
  background-size: auto 83px;
  background-position-y: 5px;
  height: 100%;
}

.active-card-indicator.star {
  width: 60px;
}

.active-card-indicator.pulse {
  width: 83px;
  left: 79px;
  background-position-x: -76px;
}

.active-card-indicator.maestro {
  width: 60px;
  left: 184px;
  background-position-x: -182px;
}

.active-card-indicator.mastercard {
  width: 60px;
  left: 258px;
  background-position-x: -258px;
}

.active-card-indicator.plus {
  width: 60px;
  left: 336px;
  background-position-x: -336px;
}

.active-card-indicator.visa {
  width: 60px;
  left: 414px;
  background-position-x: -414px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 12px;
}

.button a {
  box-shadow: #9B9B9B 0 4px,
    #D9D9D4 0 -4px;
}

.button a:active {
  box-shadow: inset #9B9B9B 0 4px,
    inset #9B9B9B 0 -1px;
}

.button:nth-child(2n) {
  flex-direction: row-reverse;
}

/* Hide number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}