@import "tailwindcss";

@font-face {
  font-family: "Press Start 2P";
  src: url(./assets/fonts/PressStart2P-Regular.woff) format('woff'),
        url(./assets/fonts/PressStart2P-Regular.woff2) format('woff2');
}

body {
  background-color: #9F80AC;
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
}

#root {
  display: grid;
  align-items: center;
}

.sign {
  background: no-repeat
    center/600px
    url(./assets/atm_sign.png),
    #126CAE;
}

.card-indicator {
  background: no-repeat url(./assets/creditcard_sprite.png);
}

.button a:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  top: -4px;
  left: 0;
  background: #D9D9D4;
  border-radius: 1em;
  z-index: -1;
}

.button a:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -5px;
  left: 0;
  background: #9B9B9B;
  border-radius: 1em;
  z-index: -1;
}